@model ProjectDetailViewModel
@{
	ViewData["Title"] = Model.Name;
}

<div class="container-fluid my-3">

	<div class="row me-2 mb-5">
		<div class="col-8">
			<h4 class="text-dark text-uppercase" style="letter-spacing: 2px;">
				@Model.Name
			</h4>
		</div>
		<div class="col-4 position-relative d-flex gap-1 justify-content-end">
			<a asp-action="Edit" asp-controller="projects" asp-route-id="@Model.Id" class="btn btn-outline-primary">Edit</a>


			<form asp-action="delete" asp-controller="projects" asp-route-id="@Model.Id" method="post" class="">
				<a onclick="confirmDeleteProject()" class="btn btn-danger">Delete</a>

				<div id="confirmDeleteProjectBox" class="gap-2 text-center bg-white boxshadow border p-2 rounded-3"
					style="position: absolute; bottom: -20px; right: 0px; display: none;">
					<p class="m-2">Are you sure you want to delete this project?</p>
					<button type="submit" class="btn btn-outline-danger btn-sm px-3">Yes</button>
					<a class="btn btn-primary btn-sm px-3" onclick="cancelDeleteProject()">No</a>
				</div>

			</form>


		</div>
	</div>

	<div class="row px-3 my-4">

		<div class="col-md-8">

			<div class="container-fluid px-0">

				<div class="row">
					<div class="col-4">
						<h6 class="text-success">Start Date</h6>
					</div>
					<div class="col-4">
						<h6 class="text-success">Target End Date</h6>
					</div>
					<div class="col-4">
						<h6 class="text-success">Actual End Date</h6>
					</div>
				</div>

				<div class="row">
					<div class="col-4">
						@Model.StartDate.ToShortDateString()
					</div>
					<div class="col-4">
						@Model.TargetEndDate.ToShortDateString()
					</div>
					<div class="col-4">
						@Model.ActualEndDate.ToShortDateString()
					</div>
				</div>

			</div>

			<div class="container-fluid px-0 my-4">

				<div class="row">

					<div class="col-4">
						<h6 class="text-success">
							Created on
						</h6>
					</div>

					<div class="col-4">
						<h6 class="text-success">
							Created by
						</h6>
					</div>

				</div>

				<div class="row">

					<div class="col-4">
						@Model.CreatedOn.ToShortDateString()
					</div>
					<div class="col-4">
						@Model.CreatedBy
					</div>

				</div>

			</div>


			<div class="container-fluid px-0 pe-4 my-5 py-4">
				<div class="row">
					<div class="col">
						<h6 class="text-danger fw-bold">
							Over Due Issues
						</h6>
					</div>
				</div>
				<div class="row">
					@if (Model.OverDueIssues.Count > 0)
					{
						<div class="col">
							@foreach (var issue in Model.OverDueIssues)
							{
								<a asp-action="issue" asp-controller="issues" asp-route-id="@issue.IssueId"
							class="text-dark text-decoration-none">
									<div class="row projectRow py-3 boxshadow my-3 border-start border-5 rounded-3 
										@(issue.Status=="Closed" ? "border-success" : "border-danger")">
										<div class="col-4 fw-bold">@issue.Title</div>
										<div class="col-4">@issue.ProjectName</div>
										<div class="col-2">
											<p class="@(issue.Status=="Closed" ? "bg-success" : "bg-danger") px-3 py-1 rounded-pill my-0 text-lowercase boxshadow"
										style="width: fit-content;">
												@issue.Status
											</p>
										</div>
										<div class="col-2">
											<p class="px-3 py-1 rounded-pill my-0 text-lowercase boxshadow"
										style="width: fit-content; background-color: @issue.Priority.Color;">
												@issue.Priority.Name
											</p>
										</div>
									</div>
								</a>
							}
						</div>
					}
					else
					{
						<div>
							<h6>No over Due Issues</h6>
						</div>
					}
				</div>
			</div>







			<div class="container-fluid px-0 pe-4 my-5 py-4">
				<div class="row">
					<div class="col">
						<h6 class="text-warning fw-bold">
							Un Assigned Issues
						</h6>
					</div>
				</div>
				<div class="row">
					@if (Model.UnAssignedIssued.Count > 0)
					{
						<div class="col">
							@foreach (var issue in Model.UnAssignedIssued)
							{
								<a asp-action="issue" asp-controller="issues" asp-route-id="@issue.IssueId"
							class="text-dark text-decoration-none">
									<div class="row projectRow py-3 boxshadow my-3 border-start border-5 rounded-3 
										@(issue.Status=="Closed" ? "border-success" : "border-danger")">
										<div class="col-4 fw-bold">@issue.Title</div>
										<div class="col-4">@issue.ProjectName</div>
										<div class="col-2">
											<p class="@(issue.Status=="Closed" ? "bg-success" : "bg-danger") px-3 py-1 rounded-pill my-0 text-lowercase boxshadow"
										style="width: fit-content;">
												@issue.Status
											</p>
										</div>
										<div class="col-2">
											<p class="px-3 py-1 rounded-pill my-0 text-lowercase boxshadow"
										style="width: fit-content; background-color: @issue.Priority.Color;">
												@issue.Priority.Name
											</p>
										</div>
									</div>
								</a>
							}
						</div>
					}
					else
					{
						<div>
							<h6>No UnAssigned Issues</h6>
						</div>
					}
				</div>
			</div>





			<div class="container-fluid px-0 pe-4 my-5 py-4">
				<div class="row">
					<div class="col">
						<h6 class="text-primary fw-bold">
							Open Issues
						</h6>
					</div>
				</div>
				<div class="row">
					@if (Model.OpenIssues.Count() > 0)
					{
						<div class="col">
							@foreach (var issue in Model.OpenIssues)
							{
								<a asp-action="issue" asp-controller="issues" asp-route-id="@issue.IssueId"
							class="text-dark text-decoration-none">
									<div class="row projectRow py-3 boxshadow my-3 border-start border-5 rounded-3 
										@(issue.Status=="Closed" ? "border-success" : "border-danger")">
										<div class="col-4 fw-bold">@issue.Title</div>
										<div class="col-4">@issue.ProjectName</div>
										<div class="col-2">
											<p class="@(issue.Status=="Closed" ? "bg-success" : "bg-danger") px-3 py-1 rounded-pill my-0 text-lowercase boxshadow"
										style="width: fit-content;">
												@issue.Status
											</p>
										</div>
										<div class="col-2">
											<p class="px-3 py-1 rounded-pill my-0 text-lowercase boxshadow"
										style="width: fit-content; background-color: @issue.Priority.Color;">
												@issue.Priority.Name
											</p>
										</div>
									</div>
								</a>
							}
						</div>
					}
					else
					{
						<div>
							<h6>No Open Issues</h6>
						</div>
					}
				</div>
			</div>


			<div class="container-fluid px-0 pe-4 my-5 py-4">
				<div class="row">
					<div class="col">
						<h6 class="text-success fw-bold">
							Closed Issues
						</h6>
					</div>
				</div>
				<div class="row">
					@if (Model.ClosedIssue.Count() > 0)
					{
						<div class="col">
							@foreach (var issue in Model.ClosedIssue)
							{
								<a asp-action="issue" asp-controller="issues" asp-route-id="@issue.IssueId"
							class="text-dark text-decoration-none">
									<div class="row projectRow py-3 boxshadow my-3 border-start border-5 rounded-3 
										@(issue.Status=="Closed" ? "border-success" : "border-danger")">
										<div class="col-4 fw-bold">@issue.Title</div>
										<div class="col-4">@issue.ProjectName</div>
										<div class="col-2">
											<p class="@(issue.Status=="Closed" ? "bg-success" : "bg-danger") px-3 py-1 rounded-pill my-0 text-lowercase boxshadow"
										style="width: fit-content;">
												@issue.Status
											</p>
										</div>
										<div class="col-2">
											<p class="px-3 py-1 rounded-pill my-0 text-lowercase boxshadow"
										style="width: fit-content; background-color: @issue.Priority.Color;">
												@issue.Priority.Name
											</p>
										</div>
									</div>
								</a>
							}
						</div>
					}
					else
					{
						<div>
							<h6>No Closed Issues</h6>
						</div>
					}
				</div>
			</div>



		</div>


		@* users column *@

		<div class="col-md-4 ms-auto">

			<div class="container-fluid px-0">

				<div class="row">
					<div class="col px-0">
						<h6 class="text-success">
							Assigned To
						</h6>
					</div>

				</div>

				<div class="row">

					@if (Model.AssignedTo.Count() == 0)
					{
						<div class="col">
							<p>No Users yet</p>
						</div>
					}
					else
					{
						<div class="col">

							@foreach (var user in Model.AssignedTo)
							{
								<div class="row my-2 py-2 align-items-center border-start border-5 
								border-info rounded-3 boxshadow">

									<div class="col-8 d-flex align-items-center">
										<img src="/img/@user.Image" class="rounded-circle boxshadow me-3" width="35px" height="35px" alt="">
										<div>
											<p class="my-0 fw-bold">
												@user.Name
											</p>
											<p class="my-0">
												@user.Email
											</p>
										</div>
									</div>
									<div class="col-4">
										@foreach (var role in user.Roles)
										{
											<li>@role</li>
										}
									</div>
								</div>
							}
						</div>
					}
				</div>

				<div class="row mt-3">
					<div class="col px-0">
						<a asp-action="editusersinproject" asp-controller="projects" asp-route-projectId="@Model.Id"
							class="btn btn-dark btn-sm">Add or Remove users</a>
					</div>
				</div>


			</div>


		</div>


	</div>
</div>




<script>
	function confirmDeleteProject() {
		document.getElementById('confirmDeleteProjectBox').style.display = 'block';
	}

	function cancelDeleteProject() {
		document.getElementById('confirmDeleteProjectBox').style.display = 'none';
	}
</script>