@model ProjectDetailViewModel
@{
	ViewData["Title"] = Model.Name;
}

<div class="container-fluid my-3">

	<div class="row me-2">
		<div class="col text-end">
			<a asp-action="Edit" asp-controller="projects" asp-route-id="@Model.Id" class="btn btn-outline-primary">Edit</a>
			<button class="btn btn-danger">Delete</button>
		</div>
	</div>

	<div class="row">
		<h4 class="text-dark text-uppercase" style="letter-spacing: 2px;">
			@Model.Name
		</h4>
	</div>

	<div class="row px-3 my-4">

		<div class="col-md-7">

			<div class="container-fluid px-0">

				<div class="row">
					<div class="col-4">
						<h6 class="text-success">Start Date</h6>
					</div>
					<div class="col-4">
						<h6 class="text-success">Target End Date</h6>
					</div>
					<div class="col-4">
						<h6 class="text-success">Actual End Date</h6>
					</div>
				</div>

				<div class="row">
					<div class="col-4">
						@Model.StartDate.ToShortDateString()
					</div>
					<div class="col-4">
						@Model.TargetEndDate.ToShortDateString()
					</div>
					<div class="col-4">
						@Model.ActualEndDate.ToShortDateString()
					</div>
				</div>

			</div>

			<div class="container-fluid px-0 my-4">

				<div class="row">

					<div class="col-4">
						<h6 class="text-success">
							Created on
						</h6>
					</div>

					<div class="col-4">
						<h6 class="text-success">
							Created by
						</h6>
					</div>

				</div>

				<div class="row">

					<div class="col-4">
						@Model.CreatedOn.ToShortDateString()
					</div>
					<div class="col-4">
						@Model.CreatedBy
					</div>

				</div>

			</div>

		</div>

		<div class="col-md-4 ms-auto">

			<div class="container-fluid px-0">

				<div class="row">
					<div class="col px-0">
						<h6 class="text-success">
							Assigned To
						</h6>
					</div>

				</div>

				<div class="row">

					@if (Model.AssignedTo.Count() == 0)
					{
						<div class="col">
							<p>No Users yet</p>
						</div>
					}
					else
					{
						<div class="col">

							@foreach (var user in Model.AssignedTo)
							{
								<div class="row my-2 py-2 align-items-center border-start border-5 
								border-info rounded-3 boxshadow">

									<div class="col-8">
										<img src="/img/@user.Image" class="img-fluid rounded-circle boxshadow me-2" width="35px" height="35px"
									alt="">
										@user.Email
									</div>
									<div class="col-4">
										@foreach (var role in user.Roles)
										{
											<li>@role</li>
										}
									</div>
								</div>
							}
						</div>
					}
				</div>

				<div class="row mt-3">
					<div class="col px-0">
						<a asp-action="editusersinproject" asp-controller="projects" asp-route-projectId="@Model.Id"
							class="btn btn-dark btn-sm">Add or Remove users</a>
					</div>
				</div>


			</div>


		</div>


	</div>
</div>