@model List<EditUserInRoleViewModel>
@{
	var roleId = ViewBag.roleId;
	ViewData["Title"] = "Edit Role";
}

<div class="container-fluid my-3">
	<div class="row">
		<div class="col-md-5 ms-md-4">
			<form asp-action="editusersinrole" asp-controller="adminstration" asp-route-roleId="@roleId" method="post">
				<div class="card">
					<div class="card-header bg-primary text-light">Add or Remove user to This role</div>
					<div class="card-body">
						@for (int i = 0; i < Model.Count; i++)
						{
							<div class="form-group my-3">
								<input type="hidden" asp-for="@Model[i].UserId">
								<input type="hidden" asp-for="@Model[i].Email">
								<input asp-for="@Model[i].IsSelected">
								<label asp-for="@Model[i].IsSelected">
									<img src="/img/@Model[i].Image" width="30px" height="30px"
									class="img-fluid rounded-circle boxshadow mx-3" alt="">
									@Model[i].Email
								</label>
							</div>
						}
					</div>
					<div class="card-footer d-flex gap-2 align-items-center">
						<input type="submit" class="btn btn-outline-dark w-50" value="Update">
						<a asp-action="EditRole" asp-controller="adminstration" asp-route-id="@roleId"
							class="btn btn-primary w-50">Cancel</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>


@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}