@model IEnumerable<IdentityRole>
@{
	ViewData["Title"] = "All Roles";
}

<div class="container-fluid my-3">

	<div class="row me-2">
		<div class="col text-end">
			<a asp-action="CreateRole" asp-controller="adminstration" class="btn btn-primary">
				Create Role
			</a>
		</div>
	</div>


	@if (Model.Count() == 0)
	{
		<div class="row">
			<div class="col text-center">
				<h4>No Roles Yet</h4>
			</div>
		</div>
	}
	else
	{
		<div class="row">
			<div class="col-12 text-center mb-5">
				<h4>All Roles</h4>
			</div>

			<div class="col-11 mx-auto">

				<div class="row">
					<div class="col-4 fw-bold">Name</div>
					<div class="col-4"></div>
					<div class="col-4 fw-bold">Role Id</div>
				</div>


				@foreach (var role in Model)
				{
					<div class="row projectRow py-3 my-3 boxshadow rounded-3 border-start border-5 border-success">

						<div class="col-2 fw-bold text-primary">@role.NormalizedName</div>

						<div class="col-6">
							<div class="d-flex flex-wrap align-items-center gap-3">

								<a asp-action="EditRole" asp-controller="adminstration" asp-route-id="@role.Id"
							class="btn btn-outline-secondary">
									Edit
								</a>

								<form method="post" asp-action="DeleteRole" asp-controller="Adminstration" asp-route-id="@role.Id"
							class="d-flex">


									<a id="delete_btn_@role.Id" onclick="confirmDelete('@role.Id')" class="btn btn-outline-danger">
										Delete
									</a>

									<div class="gap-2 align-items-center justify-content-center" id="delete_confirm_@role.Id"
								style="display: none;">
										<p class="text-danger m-0">Are you sure you want to delete?</p>
										<button type="submit" class="btn btn-primary btn-sm">Yes</button>
										<a class="btn btn-primary btn-sm" onclick="cancelDelete('@role.Id')">No</a>
									</div>

									<div asp-validation-summary="All" class="text-danger"></div>
								</form>
							</div>
						</div>

						<div class="col-4 text-muted">@role.Id</div>
					</div>
				}

			</div>

		</div>
	}

</div>



<script>
	const confirmDelete = (id) => {
		let delete_btn = document.getElementById(`delete_btn_${id}`);
		let delete_confirm = document.getElementById(`delete_confirm_${id}`);
		delete_btn.style.display = "none";
		delete_confirm.style.display = "flex";

	}

	const cancelDelete = (id) => {
		let delete_btn = document.getElementById(`delete_btn_${id}`);
		let delete_confirm = document.getElementById(`delete_confirm_${id}`);

		delete_btn.style.display = "block";
		delete_confirm.style.display = "none"

	}
</script>