@model UserDetailviewModel
@{
	ViewData["Title"] = "User Details";
}
<div class="container-fluid my-3 ps-md-4">
	@* delete user *@
	<div class="row me-md-2 mb-3">
		<div class="col text-end position-relative">
			<form asp-action="delete" asp-controller="users" asp-route-id="@Model.UserId" method="post" class="">
				<a onclick="confirmDeleteUser()" class="btn btn-danger">Delete</a>

				<div id="confirmDeleteUserBox" class="gap-2 text-center bg-white boxshadow border p-2 rounded-3"
					style="position: absolute; bottom: -60px; right: 0px; display: none; z-index: 10;">
					<p class="m-2">Are you sure you want to delete this user?</p>
					<button type="submit" class="btn btn-outline-danger btn-sm px-3">Yes</button>
					<a class="btn btn-primary btn-sm px-3" onclick="cancelDeleteUser()">No</a>
				</div>

			</form>
		</div>
	</div>


	@* user information *@
	<div class="row px-md-3">
		<div class="col-md-6 d-flex align-items-center mb-md-0 mb-4">
			<div class="me-5">
				<img src="/img/@Model.Image" width="150px" height="150px" class="rounded-circle boxshadow" alt="">
			</div>
			<div class="">
				<h4 class="text-capitalize">@Model.UserName</h4>
				<h6>@Model.Email</h6>
			</div>
		</div>

		<div class="col-md-4 ms-auto">
			<div class="card">
				<div class="card-header bg-dark text-light">Roles Assigned to this user</div>
				<div class="card-body">
					@foreach (var role in Model.Roles)
					{
						<li>@role</li>
					}
				</div>
				<div class="card-footer">
					<a asp-action="EditRolesInUser" asp-controller="users" asp-route-id="@Model.UserId"
						class="btn btn-outline-dark">
						Add or Remove roles
					</a>
				</div>
			</div>
		</div>
	</div>



	<div class="row px-md-3 px-2 mt-5">
		<div class="col-md-8">
			<div class="d-flex align-items-center justify-content-between mb-4">
				<h6 class="text-success">Assigned Projects</h6>
				<a asp-action="EditProjectsAssignedToUser" asp-controller="users" asp-route-id="@Model.UserId"
					class="btn btn-outline-primary btn-sm" title="Add or remove projects"><i class="bi bi-pencil-square"></i>
					Edit</a>
			</div>
			@if (Model.Projects.Count() == 0)
			{
				<p>@Model.UserName has not been assigned to any project yet.</p>
			}
			else
			{
				<div class="row">
					<div class="col-3">Name</div>
					<div class="col-3">Start Date</div>
					<div class="col-3">Target End Date</div>
					<div class="col-3">Actual End Date</div>
				</div>
				<partial name="_Projects" model="@Model.Projects" />
			}
		</div>
	</div>



	<div class="row px-md-3 px-2 mt-5">
		<div class="col-md-8">
			<div class="d-flex align-items-center justify-content-between mb-4">
				<h6 class="text-success">Assigned Issues</h6>
				<a asp-action="EditIssuesAssignedToUser" asp-controller="users" asp-route-id="@Model.UserId"
					class="btn btn-outline-primary btn-sm" title="Add or remove Issues"><i class="bi bi-pencil-square"></i>
					Edit</a>
			</div>
		</div>
	</div>

	<div class="row px-md-3 px-2 mt-4">
		<div class="col-md-8">
			<h6 class="text-danger">Open Issues</h6>
			@if (Model.OpenIssues.Count() == 0)
			{
				<p>@Model.UserName has no Open issues</p>
			}
			else
			{
				<partial name="_Issues" model="@Model.OpenIssues" />

			}
		</div>
	</div>


	<div class="row px-md-3 px-2 mt-5">
		<div class="col-md-8">
			<h6 class="text-success">Closed Issues</h6>
			@if (Model.ClosedIssues.Count() == 0)
			{
				<p>@Model.UserName has no Closed issues</p>
			}
			else
			{
				<partial name="_Issues" model="@Model.ClosedIssues" />
			}
		</div>
	</div>


</div>



</div>



<script>
	function confirmDeleteUser() {
		document.getElementById('confirmDeleteUserBox').style.display = 'block';
	}

	function cancelDeleteUser() {
		document.getElementById('confirmDeleteUserBox').style.display = 'none';
	}
</script>