@model CommentsOnIssueViewModel
@{
	var issueId = ViewBag.issueId;
	ViewData["Title"] = "Discussion";
}

<div class="container-fluid my-3 px-4">
	<audio src="/beep.mp3" id="audio"></audio>
	<div class="row justify-content-center">

		<div class="col-12">
			<h4 class="text-dark text-capitalize">
				<a asp-action="issue" asp-controller="issues" asp-route-id="@issueId" class="text-decoration-none text-dark">
					<i class="bi bi-reply-fill"></i>
				</a>@Model.IssueTitle
			</h4>
		</div>

		<div class="col-md-10 border-bottom">
			<h6 class="text-muted border-bottom mb-0 border-2 border-dark pe-3" style="width: fit-content;">Comments</h6>
		</div>


		<div class="col-md-10 ms-md-4 my-3" id="CommentsDiv">
			@foreach (var comment in Model.Comments)
			{
				<div class="my-2 border p-3 rounded-3" style="background-color: #ebebeb;">
					<div class="d-flex align-items-center">
						<img src="/img/@comment.UserImage" class="rounded-circle boxshadow me-3" width="30px" height="30px" alt="">
						<div class="d-flex gap-3">
							<p class="text-muted mb-0">@comment.UserName
								<span class="ms-2 mb-0" style="font-size: 0.8rem;">
									@comment.CreatedOn
								</span>
							</p>
						</div>
					</div>
					<div class="px-5 mt-2">
						@foreach (var p in comment.CommentText.Split("\n"))
						{
							<p class="text-dark mb-0">
								@p
							</p>
						}
					</div>
				</div>
			}
		</div>


		<div class="col-md-10 ms-md-4 px-0">
			<form id="createComment" method="post">

				<textarea required id="CommentInp" name="Comment" rows="3" placeholder="Type Comment"
					class="form-control"></textarea>

				<input id="groupNameInput" type="hidden" name="IssueId" value="@issueId">

				<div class="text-danger" asp-validation-summary="All"></div>

				<div class="text-end">
					<button type="submit" class="btn btn-outline-primary" style="width: fit-content;">
						Send &nbsp;<i class="bi bi-send-fill"></i>
					</button>
				</div>

			</form>
		</div>
	</div>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
<script src="~/js/Chat.js"></script>
<script>
	var element = document.getElementById("CommentsDiv");
	element.scrollTop = element.scrollHeight;
</script>