@model IssueDetailViewModel
@{
	ViewData["Title"] = $"{Model.Title}";
}

<div class="container-fluid my-3 ps-md-4">
	<div class="row me-md-2 mb-5 mb-md-0">
		<div class="col-md-8">
			<h3 class="text-capitalize text-danger">@Model.Title Issue</h3>
			<p>Project : @Model.ProjectName</p>
		</div>
		<div class="col-md-4 position-relative">
			<div class="d-flex gap-1 justify-content-end me-md-0 me-2">
				<a asp-action="comments" asp-controller="issues" asp-route-issueId="@Model.IssueId"
					class="btn btn-outline-info">Discussion</a>
				@if (Model.Status == "Open")
				{
					<a asp-action="closeIssue" asp-controller="issues" asp-route-id="@Model.IssueId"
					class="btn btn-success">Close</a>
				}
				else
				{
					<button disabled class="btn btn-success">Closed</button>
				}
				@if (User.IsInRole("manager") || User.IsInRole("lead"))
				{
					<a asp-action="Edit" asp-controller="issues" asp-route-id="@Model.IssueId"
					class="btn btn-outline-primary">Edit</a>
				}


				@if (User.IsInRole("manager"))
				{
					<form asp-action="deleteissue" asp-controller="issues" asp-route-id="@Model.IssueId" method="post" class="">
						<a onclick="confirmDeleteIssue()" class="btn btn-danger">Delete</a>

						<div id="confirmDeleteIssueBox" class="gap-2 text-center bg-white boxshadow border p-2 rounded-3"
						style="position: absolute; bottom: -20px; right: 0px; display: none;">
							<p class="m-2">Are you sure you want to delete this issue?</p>
							<button type="submit" class="btn btn-outline-danger btn-sm px-3">Yes</button>
							<a class="btn btn-primary btn-sm px-3" onclick="cancelDeleteIssue()">No</a>
						</div>

					</form>
				}
			</div>
		</div>
	</div>

	<div class="row px-md-3 px-2">
		<div class="col-md-8">

			<div class="container-fluid px-0">
				<div class="row">
					<div class="col-3 text-success">
						<h6>
							Target Resolution
						</h6>
					</div>
					<div class="col-4 text-success">
						<h6>
							Actual Resolution
						</h6>
					</div>
					<div class="col-2 text-success">
						<h6>Status</h6>
					</div>
					<div class="col-md-2 col-3 text-success">
						<h6>Priority</h6>
					</div>
				</div>
				<div class="row">
					<div class="col-3">@Model.TargetResolutionDate.ToShortDateString()</div>
					<div class="col-4">@Model.ActualResolutionDate.ToShortDateString()</div>
					<div class="col-2">
						<p class="@(Model.Status=="Closed" ? "bg-success" : "bg-danger") px-2 py-0 rounded my-0 text-lowercase boxshadow"
							style="width: fit-content;">
							@Model.Status
						</p>
					</div>
					<div class="col-md-2 col-3">
						<p class="px-2 py-0 rounded my-0 text-lowercase boxshadow"
							style="width: fit-content; background-color: @Model.Priority.Color;">
							@Model.Priority.Name
						</p>
					</div>
				</div>
			</div>

			<div class="container-fluid mt-4 px-0">
				<div class="row">
					<div class="col-3 text-success">
						<h6>Created on</h6>
					</div>
					<div class="col-4 text-success">
						<h6>Created by</h6>
					</div>
				</div>
				<div class="row">
					<div class="col-3">@Model.CreatedOn.ToShortDateString()</div>
					<div class="col-4">@Model.CreatedBy</div>
				</div>
			</div>


			<div class="container-fluid mt-5 px-0">
				<div class="row">
					<div class="col text-success">
						<h6>Description</h6>
					</div>
				</div>
				<div class="row">
					<div class="col-md-10">@Model.Description</div>
				</div>
			</div>


			<div class="container-fluid mt-4 px-0">
				<div class="row mb-4">
					<div class="col text-success">
						<h6>Tags</h6>
					</div>
				</div>

				<div class="w-25 d-flex flex-wrap gap-3">
					@if (Model.Tags.Count > 0)
					{
						foreach (var tag in Model.Tags)
						{
							<div class="">
								<p class="boxshadow px-2 py-0 my-0 rounded" style="background-color: @tag.Color; width:fit-content;">
									@tag.Name</p>
							</div>
						}
					}
					else
					{
						<div>
							No tags selected
						</div>
					}
				</div>
			</div>

			@if (Model.ResolutionSummary != null)
			{
				<div class="container-fluid mt-4 px-0">
					<div class="row">
						<div class="col text-success px-0">
							Resolution summary
						</div>
					</div>
					<div class="row">
						<div class="col">@Model.ResolutionSummary</div>
					</div>
				</div>
			}


		</div>



		@* users *@
		<div class="col-md-4 ms-auto mt-4 mt-md-0">
			<div class="container-fluid px-0">

				<div class="row">
					<div class="col px-0">
						<h6 class="text-success">
							Assigned To
						</h6>
					</div>

				</div>

				<div class="row">

					@if (Model.AssignedTo.Count() == 0)
					{
						<div class="col">
							<p>No Users yet</p>
						</div>
					}
					else
					{
						<div class="col px-4 px-md-0 pe-md-4">

							<partial name="_AssignedToUsers" model="@Model.AssignedTo" />
						</div>
					}
				</div>

				@if (User.IsInRole("manager") || User.IsInRole("lead"))
				{
					<div class="row mt-3">
						<div class="col px-0">
							<a asp-action="editusersinissue" asp-controller="issues" asp-route-issueId="@Model.IssueId"
							class="btn btn-dark btn-sm">Add or Remove users</a>
						</div>
					</div>
				}


			</div>
		</div>
	</div>
</div>


<script>
	function confirmDeleteIssue() {
		document.getElementById('confirmDeleteIssueBox').style.display = 'block';
	}

	function cancelDeleteIssue() {
		document.getElementById('confirmDeleteIssueBox').style.display = 'none';
	}
</script>